{
  "env": {
    "dev": {
      "presets": ["next/babel"]
    },
    "test": {
      "presets": ["next/babel"],
      "plugins": ["istanbul"]
    },
    "prod": {
      "presets": ["next/babel"]
    },
    "production": {
      "presets": ["next/babel"]
    }
  }
}
